<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <listener>
    <listener-class>kr.co.jsplec.ex.ResultListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>kr.co.jsplec.ex.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <display-name>Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LifeCycleEx</display-name>
    <servlet-name>LifeCycleEx</servlet-name>
    <servlet-class>kr.co.jsplec.ex.LifeCycleEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleEx</servlet-name>
    <url-pattern>/LifeCycleEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormEx</display-name>
    <servlet-name>FormEx</servlet-name>
    <servlet-class>kr.co.jsplec.ex.FormEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormEx</servlet-name>
    <url-pattern>/FormEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParamEx</display-name>
    <servlet-name>InitParamEx</servlet-name>
    <servlet-class>kr.co.jsplec.ex.InitParamEx</servlet-class>
  </servlet>
  <context-param>
    <param-name>dbId</param-name>
    <param-value>abcde</param-value>
  </context-param>
  <context-param>
    <param-name>dbPwd</param-name>
    <param-value>123456</param-value>
  </context-param>
  <context-param>
    <param-name>dbSid</param-name>
    <param-value>orcl</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>InitParamEx</servlet-name>
    <url-pattern>/InitParamEx</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>JoinOk</display-name>
    <servlet-name>JoinOk</servlet-name>
    <servlet-class>kr.co.member.ex.JoinOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinOk</servlet-name>
    <url-pattern>/JoinOk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinResult</display-name>
    <servlet-name>JoinResult</servlet-name>
    <servlet-class>kr.co.member.ex.JoinResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinResult</servlet-name>
    <url-pattern>/JoinResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOk</display-name>
    <servlet-name>LoginOk</servlet-name>
    <servlet-class>kr.co.member.ex.LoginOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOk</servlet-name>
    <url-pattern>/LoginOk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyOk</display-name>
    <servlet-name>ModifyOk</servlet-name>
    <servlet-class>kr.co.member.ex.ModifyOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyOk</servlet-name>
    <url-pattern>/ModifyOk</url-pattern>
  </servlet-mapping>
</web-app>